body {
    background-image: url("luzes-na-noite-da-cidade-wallpaper-11469.jpg");
}

h2 {
    text-align: center;
    color: white;
}

div {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 100px;
    margin-top: 70px;
}